<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Cache gói NuGet vào thư mục người dùng Linux -->
    <add key="globalPackagesFolder" value="/var/lib/jenkins/.nuget/packages" />
  </config>
  <packageSources>
    <!-- Dùng nguồn chính thức -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>