<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Buộc .NET dùng thư mục Linux này thay vì Windows -->
    <!-- <add key="globalPackagesFolder" value="/var/lib/jenkins/.nuget/packages" /> -->
  </config>

  <packageSources>
    <!-- Dùng nuget.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <fallbackPackageFolders>
    <!-- Xóa bỏ fallback mặc định Windows -->
  </fallbackPackageFolders>
</configuration>